*{

    text-decoration: none;

}

table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100;
}

input[type="text"] {
    padding: 9px;
    margin-bottom: 5px;
    border: 1px solid black;
}

button {
    background-color: black;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
    cursor: pointer;
    width: 180px;
}

button:hover {
    background-color: #999999;
    color: black;
}